*.log
*.bak
logs/stderr_op25.log
modules/
__pycache__
api.py
logs/stderr_op25.log
logs/stderr_op25.log
*.pyc
modules/linuxSystem/__pycache__/linuxUtils.cpython-312.pyc
logs/app_log.txt
.DS_Store
*.bk
