/* Background color for the window */
QWidget {
    background-color: black;
}

QPushButton#btnZnDown, 
QPushButton#btnZnUp,
QPushButton#btnChDown, 
QPushButton#btnChUp  {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #666;
    padding: 8px;
    margin-top: 10px;
    margin-left: 3px;
}

BlinkingLabel#lblChannelName_2 {
    background-color: white;
    color: red;
}

QPushButton#btnMenu, 
QPushButton#btnGroups, 
QPushButton#btnMute,
QPushButton#btnExit_2 {
    background-color: #444;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #666;
    padding: 8px;
    margin-left: 3px;
    margin-top: 10px;
    }
QPushButton#btnMenu:Pressed, 
QPushButton#btnGroups:Pressed, 
QPushButton#btnMute:Pressed,
QPushButton#btnExit_2:Pressed {
    background-color: white;
}

QPushButton#btnMenu:disabled, 
QPushButton#btnGroups:disabled, 
QPushButton#btnMute:disabled,
QPushButton#btnExit_2:disabled {
    color: darkgray ;
    background: black;
}

QListWidget::item { font-size: 18pt; }